<div id='container' np-controller='LinksController'>

  <div class='navigation'>
    <ul>
      <li><a class='selected' href='#/links'>All Links</a></li>
      <li><a href='#/shorten'>Shorten</a></li>
    </ul>
  </div>

  <div>
    <form>
      <input type='text' placeholder='Search' name='search' ng-model='query'>
    </form>
  </div>
  
  <div class='link' ng-repeat='link in data.links | orderBy: "-visits" | filter:query'>
    <img src='../../assets/redirect_icon.png'/>
    <span class='info'>
      <a href={{link.code}} class='title'>{{link.title}}</a>
      <span class='original'>{{link.url}}</span>
      <span class='visits'>        
        <span class='count'>{{link.visits}}</span>
        Visits
      </span>
    </span>
  </div>


</div>
